[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
scrapy = "*"
pony = "*"
arrow = "*"
click = "*"
"js2py" = "*"
apscheduler = "*"
influxdb = "*"
pyexecjs = "*"

[requires]
python_version = "3.6"
